<h1>Welcome to Pro Omnibus</h1>
<p>Pro Omnibus is a not-for-profit corporation dedicated to providing consumers with effective tools to:</p>
<ol>
	<li>Make real ethical choices in the things they buy</li>
	<li>Curb the sociopathic tendencies of corporations and politicians</li>
</ol>
<p>Please read our <a href="http://www.pro-omnibus.org/2013/06/a-manifesto-for-saving-world.html">manifesto</a>, and then contribute to the work by providing domain-specific information that would be useful in auditing, or by purchasing a membership.</p>