<h2>Pro Omnibus</h2>
<p>Pro Omnibus is a not-for-profit organization whose mandate is quite simply to save the world.</p>
<p>Certification and auditing has shown to be one of the few effective methods that the public can use to control the worst excesses of corporations (for example, the Foresty Stewardship Council and LEED). Pro Omnibus intends to take this principle and apply it to any industry, process, or government (yes! Politicians too can be certified!) that the public finds relevant.</p>
<p>Our business plan is simple:</p>
<ol>
    <li>We collect information from the public around what they find important in the products they buy or the politicians they vote for. For example: humane treatment of animals, carbon footprint, ethical treatment of employees.</li>
    <li>We talk to experts in the field to find meaningful ways to audit the concerns raised in step 1.</li>
    <li>Corporations/Politicians/Orgnizations (hereafter: Customers) pay us to certify them.</li>
    <li>Certified customers can use our logo to say what level they are certified at, and when that certification expires.</li>
    <li>Consumers and voters can now make informed decisions based on information they can trust.</li>
</ol>

<h3>Why It Will Work: The Four Pro Omnibus Tiers</h3>
<p>Pro Omnibus' certifications in a particular field are always graduated into 4 tiers.</p>
<p><b>Bronze</b> is the first tier and lowest level. It is a declaration of intent along with some easy-to-achieve deliverables. Its intent is to get as many customers using the system as possible.</p>
<p><b>Silver</b> is the second tier. In general, it will offer a significant way for a customer to differentiate itself from its competition, including Pro Omnibus customers with Bronze certification. Silver-certified organizations should always be a better choice than a non-certified organization, corporation, or politician.</p>
<p><b>Gold</b> is the third tier. Customers who achieve this level have shown a significant and costly dedication to the ethical ideals espoused by Pro Omnibus. These customers should be recommended without reservation in every scenario.</p>
<p><b>Platinum</b> is the top tier. Platinum certifications are given infrequently and are the most invasive and thorough. You, as a consumer or voter can rest assured that the customer sporting this certification is a paragon of virtue, whose every action achieves the Pro Omnibus ideal of "For the Good of All". Their unrestricted growth would benefit every part of human society and the Earth in general.</p>
<p>The intent is that, at the beginning, some intrepid customers will choose the Bronze level, giving them a small but measurable advantage over their competitors as the growing percentage of concerned and ethical consumers will choose them wherever possible. As more and more customers become certified, pressure will come to achieve the next tier of certification. The hope is that, in time, every organization, corporation and politician must have Silver certification to even compete, and Gold certification to be taken seriously. What a wonderful world that would be!</p>
<p>If an organization fails an audit, or is found to have broken the terms of the audit after receiving their certification, they lose the right to achieve a successful audit for a period of 2 times the normal audit period. A black number indicating the number of times they have been caught breaking the terms of the audit must appear on all future audit certifications.</p>

<h3>Bringing it Home</h3>
<p>All Pro Omnibus certification stickers MUST include four pieces of information:</p>
<ol>
    <li>The level of certification achieved: Bronze, Silver, Gold, Platinum</li>
    <li>The expiry date of the certification</li>
    <li>A QR code that allows any smart phone reader to instantly access all applicable information about the audit that took place to give the certification.</li>
    <li>A black integer representing an aggregate of the number of audits the company has failed.</li>
</ol>

<h3>Why You Can Trust Us</h3>
<ol>
    <li>All our processes are open. Our meetings are recorded and uploaded to the Internet. Our auditing process is completely open.</li>
    <li>Our financial accounts are an open book. We are not in this to make money. We are in this to save the Earth.</li>
</ol>

<h3>Dollars and Cents</h3>
<p>Audits will be paid for by the customer on whom the audit is being performed. The charge for the audit will be equal to the cost of the audit, plus an additional amount to pay for Pro Omnibus' overhead. Any additional funds will be used for advertising our services to the public and for humanitarian, ethical work as decided by our members.</p>
<h3>Who Decides What and How We Will Audit?</h3>
<p>Our members will vote (using the <a href="http://rangevoting.org/">Range Voting</a> method) to set the projects for Pro Omnibus. All project must be congruent with our Constitution, as determined by our Judges.</p>

<h3>Membership</h3>
<p>Membership is $50 USD per year.</p>
<p>Membership provides the following benefits:</p>
<ol>
    <li>Members may vote to set the projects for Pro Omnibus. A project is a particular field of human endeavor that Pro Omnibus will create a certification for. Projects may be suggested by anyone, but only members may vote on them.</li>
    <li>Members in Good Standing (meaning: have held a valid membership for the last 5 consecutive years) may vote for three of the 5 judges positions.</li>
    <li>Members participate in our competitions, with the chance to win prizes (details to follow)</li>
    <li>Members may vote on the priority of criteria within a particular audit package. For example, if we have resources to audit for carbon footprint, chemical waste, but not both, members can vote (using Range Voting) to determine which criteria is chosen. In general this should not be an issue but would be used in cases of disagreement or deadlock.</li>
    <li>Members have access to custom tools, reports, and layouts. For example, they may customize the total scores they see for customers who hold several certifications. If Microsoft has a Pro Omnibus certification for carbon footprint and ethical treatment of workers, they would receive a total score based on the level of certification, and the level of importance the member places on each aspect.</li>
</ol>
<p>Memberships may not be transferred, and must be held by a living human who has attained the age of legal majority in their nation of residence. They may not be held by any other legal entity.</p>

<h3>Judges</h3>
<p>A panel of 5 judges will decide if a particular project meets our Constitution. The position lasts 5 years. Judges are selected by a vote from all Members in Good Standing. A simple majority decides all disputes.</p>
<p>Judges may nominate project for vote, and project may be nominated by members for vote.</p>
<p>Voting on the Constitutionality of projects is a simple "yes" or "no".</p>

<h3>Constitution</h3>
<p>The Constitution is the guiding document for Pro Omnibus. It is the standard to which all our actions are compared. It has 5 articles.</p>
<ol>
    <li>Evidence-based decision making.</li>
    <li>As much as possible, minimize real and potential misery. As much as possible maximize real and potential happiness.</li>
    <li>Sustainability, such that the action could be performed for 10,000 years with no ill effect upon the Earth.</li>
    <li>Build a durable local culture.</li>
    <li>Build a durable global culture.</li>
</ol>
